<header>
  <div class="contenedor">
    <div class="navbar">
      <h1 class="logo"><img src="assets/images/logo-soho.png" alt=""></h1>
      <nav class="menu">
        <a href="">inicio</a>
        <a href="">nosotros</a>
        <a href="">servicios</a>
        <a href="">casos de exito</a>
        <a href="">únete al equipo</a>
        <a href="">contacto</a>
        <a (click)="login()">iniciar sesión</a>
      </nav>
    </div>
    <div class="contenido-header">
      <h1 class="titulo-header">Nos especializamos en</h1>
      <h2 class="texto-header"><strong>interfaces digitales que los usuarios aman</strong></h2>
      <a href="" class="action-header">HABLEMOS DE TU PROYECTO</a>
    </div>
  </div>
</header>
