<footer>
  <section class="footer">
    <div class="contenedor-footer">
      <div class="footer-textos">
        <p>&copy; 2017 SOHO internet + humana</p>
        <div class="footer-textos" style="">
          <p class="mr-2">Visitanos</p>
          <p class="mr-2">Escribenos</p>
          <p>Llamanos</p>
        </div>
        <div class="footer-textos">
          <a href="#" class="facebook">Facebook</a>
          <a href= "#" class="twitter">Twitter</a>
          <a href= "#" class="linkedin">Linkedin</a>
          <a href= "#" class="youtube">Youtube</a>
        </div>
      </div>
    </div>
  </section>
</footer>
